@import "../../variables";

.add-form {
  margin-top: 20px;

  input {
    width: 350px;
    margin-right: 20px;
    line-height: 17px;
  }
}

.app-add-form {
  margin-top: 30px;
  padding: 25px;
  background-color: #2ba2c5;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, .4);
  color: $main-color;
}